# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
*_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.xml
*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# For 3D designed using FreeCAD: https://www.freecad.org/
# Format documentation: https://wiki.freecad.org/Category:File_Formats

# Temporary files
*.pyc
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
*.FCBak
Private
*.bak

# MacOs file
*.DS_Store

# VScode files
.vscode
